# IDE-Specific
**/.vscode/
**/.editorconfig
**/.idea/
**/.iml

# Frontend
frontend/.angular/
frontend/dist/
frontend/node_modules/

#Java
**/target/
**.class

# Microservice
microservice/src/main/resources/*
!microservice/src/main/resources/application.properties

# OS-Specific
**/.DS_Store
**/Thumbs.db
