<div id="button-container">
    <button id="button" (click)="onToggleNdvi()">Click me</button>
</div>
<div id="map-container">
    <div class="lat-container">
        {{ boundingBox()[1]}}
    </div>
    <div class="secondary-container">
        <div class="long-container">
            {{ boundingBox()[0]}}
        </div>
        <div id="map"></div>
        <div class="long-container">
            {{ boundingBox()[2]}}
        </div>
    </div>
    <div class="lat-container">
        {{ boundingBox()[3]}}
    </div>
</div>
