#map {
    width: 70vw;
    min-width: 400px;
    height: 50vh;
    background-color: rgb(55, 55, 55);
}

:host ::ng-deep .ol-unselectable.ol-control.layer-switcher {
    width: 200px !important; /* Reduce width */
    max-height: 300px !important; /* Set maximum height */
    overflow-y: auto !important; /* Enable scrolling for overflowing content */
    font-size: 12px !important; /* Reduce font size */
    border-radius: 5px !important; /* Rounded corners */
  }

  :host ::ng-deep .ol-unselectable.ol-control.layer-switcher .panel {
    max-height: 250px !important; /* Restrict panel height */
    overflow-y: auto !important; /* Add scroll for content overflow */
  }

  :host ::ng-deep .ol-unselectable.ol-control.layer-switcher button {
    width: 50px !important;
    height: 30px !important; /* Smaller button height */
    font-size: 12px !important; /* Reduce font size */
  }

  :host ::ng-deep .ol-unselectable.ol-control.layer-switcher label {
    font-size: 10px !important; /* Smaller labels */
  }

  :host ::ng-deep .ol-unselectable.ol-control.layer-switcher ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
